@charset "UTF-8";

/* ! 고객센터 CSS */

html, body{
    width: 100%;
    height: 100%;
}

body{
    background-color: #292929;
}

#wrap{
}

/*header*/
#header{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 1;
    
    height: 40px;
    
    font-size: 1.5rem;
    background: #202020;
}
#header .header_inner-header {
    margin: 0 auto;
    width: 1280px;
}

#header .header_inner-header_navigation-bar {
    margin: 0 auto;
    width: 1280px;
    height:40px;
    color: white;
    
    /*border: 2px solid green;*/
    
    text-align: center;
}
#header .header_inner-header_navigation-bar a img{
    float: left; 
    width: 100px;
    margin-top: 2px;
    
    /*-webkit-filter: opacity(.5) drop-shadow(0 0 0 #180072);
    filter: opacity(.5) drop-shadow(0 0 0 #180072);*/
}
#header .header_inner-header_navigation-bar nav{float: right;}
#header .header_inner-header_navigation-bar li{
    margin: 0 10px;
    float: left;
}

.wrap_logo-area{
    position: fixed;
    left: 0;
    right: 0;
    
    margin: 0 auto;
    margin-top: 40px;
    padding-top: 40px;

    width: 1280px;
    height: 140px;
    
    text-align: center;
    background-color: #292929;
    border-bottom: 1px solid #666;
}

.wrap_logo-area_image{
    display: inline-block;
    margin: auto;
    
    width: 160px;
    height: 60px;
    
    background: url(../images/customer_center_images/image_title_header_main.png) no-repeat;
}

/* nav */
#nav {
    position: fixed;
    left: 0;
    top: 180px;
    
    width: 280px;
    height: 100%;
    
    color: #ccc;
    background-color: #292929;
    border-right: 1px solid #666;
}

#nav .nav_title-area{
    padding: 12px;
    height: 50px;
    border-bottom: 1px solid white;
}

#nav .nav_title-area_title{
    line-height: 24px;
    
    font-size: 24px;
}

#nav .nav_menu-area{
}

#nav .nav_menu-area_list{
}

#nav .nav_menu-area_list_item{
    line-height: 24px;
    padding: 12px;
    border-bottom: 1px solid #333;
}

#nav .nav_menu-area_list_item a{
    color: #ccc;
}

#wrap_right-border{
	position: fixed;
	width: 100px;
	height: 100%;
	
	right: 50%;
    top: 180px;
    
    margin-right: -740px;
	
	color: #ccc;
    background-color: #292929;
    border-left: 1px solid #666;
}

/* main */
#main-wrap{
    margin: 0 auto;
    max-width: 1280px;
    border-bottom: 1px solid #444;
}




/* header main */

/* inner wrap main */
#main-wrap .main-wrap_inner-wrap{
    display: flex;
    justify-content: flex-end;
    
    margin-bottom: 40px;
    
    text-align: center;
    color: white;
}

/* content*/
#main-wrap_content{
    margin-top: 180px;
    margin-left: 280px;
    margin-bottom: 50px;
}

#main-wrap_content .content_board{}

#main-wrap_content .content_board_top{
    display: flex;
    justify-content: space-between;
    padding: 12px;
    height: 49px;
}

#main-wrap_content .content_board_top_title{
    line-height: 24px;
    font-size: 24px;
    color: #999;
}

#main-wrap_content .content_board_top_search-bar{}

#main-wrap_content .content_board_top_search-bar_search-option, .content_board_top_search-bar_search-text, .content_board_top_search-bar_search-btn{
    color: #ccc;
    background-color: #292929;
    border-radius: 5px;
}

#main-wrap_content .content_board_top_search-bar_search-option{
    width: 60px;
}

#main-wrap_content .content_board_top_search-bar_search-text{
}

#main-wrap_content .content_board_top_search-bar_search-btn{
    width: 50px;
}

#main-wrap_content .content_board_main-table{
	margin:0;
    color: white;
}

#main-wrap_content .content_board_main-table th{
	width: 10%;
}

/* ## notice_insert_form */
#main-wrap_content .content_board_main-table_category{
	background: #333;
	color: white;
	width: 100%;
}

#main-wrap_content .content_board_main-table_title{
	background: #333;
	color: white;
	width: 100%;
}

#main-wrap_content .content_board_main-table_content{
	background: #333;
	color: white;
	width: 100%;
}

#main-wrap_content .content_board_main-table_author{
	background: #333;
	color: white;
	width: 100%;
}
/* /## notice_insert_form */

/* ## notice_view */
#main-wrap_content .content_board_main{
	border-top: 1px solid #eee;
	margin:0;
}

#main-wrap_content .content_board_main_subject-area{
	border-bottom: 1px solid #eee;
	padding: 10px;
}

#main-wrap_content .content_board_main_subject-area_title{
	text-align: left;
	margin-left: 20px;
	padding-bottom: 5px;
	font-size: 24px;
	
	border-bottom: 1px solid #333;
}

#main-wrap_content .content_board_main_subject-area_about-author{
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
	color: #999;
}

#main-wrap_content .content_board_main_subject-area_about-author_author{
	margin-left: 55px;
}

#main-wrap_content .content_board_main_subject-area_about-author_regdate{
}

#main-wrap_content .content_board_main_subject-area_about-author_view-count{
	margin-right: 20px;
}

#main-wrap_content .content_board_main_content{
	min-height: 800px;
}

#main-wrap_content .content_board_main_content_item{
	display: inline-block;
	padding: 10px;
}
/* /## notice_view */

#main-wrap_content .content_board_bottom{
	display: flex;
    justify-content: flex-end;
    padding: 12px;
    height: 55px;
    border-top: 1px solid #999;
}

#main-wrap_content .common_btn{
	width: 60px;
	color: #ccc;
    background-color: #292929;
    border-radius: 5px;
}

/* footer */

#footer{
    position: fixed;
    bottom: 0;
    
    width: 100%;
    height: 50px;
    
    font-size: 1em;
    text-align: center;
    
    background: #292929;
    border-top: 1px solid #666;
}

#footer .footer_text{
    color: #666;
}

/* notice */
#main-wrap_content .content_board_main-table_link-notice-title{
	color: white;
}



/* DeskTop */
@media (min-width: 1280px){
    #nav{
        left: 50%;
        margin-left:  -640px;
    }
    
    #main-wrap_content .content_board_main-table{
        width: 1000px;
    }
}