@charset "UTF-8";

/* 공통 css를 설정해주세요. */

html, body {
  margin: 0px;
  padding: 0px;
}

/* 이 div는 확인 용도임 삭제해도 됨 */
div {
  border: 2px solid red;
}

/*  */
#main_box {
  border 1px solid black;
  text-align: center;
}

#navigation_Bar {
  height: 30px;
}

/* content_Box 세로길이 임시값 : 2040px */
#content_Box {
  margin: auto;
  width: 1050px;
  height: 900px;
}

#footer {
  height: 150px;
}
