<!DOCTYPE html>

<!-- 메인 템플릿. -->

<html>

<head>
    <meta charset="utf-8">
    <title>??? - 고객센터</title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="../css/common.css">
<link rel="stylesheet" href="../css/customer_center.css">

<body>

    <!--Main Box-->
    <div id="main_Box" class="container-fluid">

        <!--Navigation Bar-->
        <div id="navigation_Bar">
            Navigation_Bar
        </div>

        <div class="row">
            <!--Content Box-->
            <div id="content_Box" class="col-xl-4 col-lg-6 col-md-12">

                <div class="content_Header_Item_Box">
                    <div class="content_Header_Item">
                        <a href="#">
                            <img src="../images/search.png" alt="고객센터 공지사항">
                        </a>
                        <div>공지사항</div>
                    </div>

                    <div class="content_Header_Item">
                        <a href="#">
                            <img src="../images/FAQ.png" alt="고객센터 FAQ">
                        </a>
                        <div>FAQ</div>
                    </div>

                    <div class="content_Header_Item">
                        <a href="">
                            <img src="../images/1by1.png" alt="고객센터 1:1 문의">
                        </a>
                        <div>1:1 문의</div>
                    </div>
                </div>

                <!-- Customer Service-->
                <div class="content_Header_Text">
                    <a href="#">
                        <h1>고객 서비스</h1>
                    </a>
                </div>

                <!-- Content -->
                <div class="content_Body_Item_Box">
                    <div class="content_Body_Item">
                        <a href="">
                            <span>EMPTY</span>
                        </a>
                    </div>
                </div>



            </div>

            <!--Bottom Box-->
            <div id="bottom">

            </div>


        </div>

    </div>

</body></html>