<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>공지사항 - 고객센터</title>

    <!-- 부트스트랩 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- CSS 초기화 -->
    <link rel="stylesheet" href="../css/w_init.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/notice.css">
    <!-- 웹 폰트 -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:199,300,400,500,700,900&subset=korean">
</head>

<body>
    <div id="wrap">
        <!-- header -->
        <header id="header">
            <h1 hidden>공지사항</h1>
            <div class="inner_header">
                <!-- 네비게이션 바 -->
                <div id="navigation_Bar">
                    <a href="../layout/front_customer_page.html"><img src="../images/customer_center_images/logo.png" alt="Logo"></a>
                    <span>Navigation Bar</span>
                    <nav>
                        <ul class="clearfix">
                            <li>목록</li>
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                            <li>4</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

        <main id="wrap_main">
            <!-- header main-->
            <div class="title_header_main">
                <a href="../layout/front_customer_page.html">
                    <span class="image_title_header_main"></span>
                </a>
            </div>

            <!-- inner_wrap main -->
            <div class="inner_wrap_main">

                <!-- nav -->
                <nav id="nav">
                    <div class="title_menu_nav">
                        <span class="text_title_menu_nav">Service</span>
                    </div>
                    <div class="menu_nav">
                        <ul class="list_menu_nav">
                            <li class="link_list_menu_nav"><a href="../layout/notice_page.html">Notice</a></li>
                            <li class="link_list_menu_nav"><a href="../layout/faq_page.html">FAQ</a></li>
                            <li class="link_list_menu_nav"><a href="../layout/1by1_page.html">1:1문의</a></li>
                        </ul>
                    </div>
                </nav>

                <!-- content -->
                <section id="content">
                    <article class="menu_content">
                        <!-- 고객 서비스 -->
                        <div class="item_content">
                            <div class="header_table">
                                <h2>
                                   <span class="title_header_table">Notice</span>
                                </h2>
                                <spna class="search_bar">
                                    <select name="search_option" id="search_option_notice" class="search_option_notice">
                                        <option value="title">제목</option>
                                        <option value="content">내용</option>
                                    </select>
                                    <input type="text" class="search_text_notice">
                                    <input type="button" value="검색" class="search_btn_notice">
                                </spna>
                                
                            </div>
                            <table class="table table-hover table_item_content">
                                <tr>
                                    <th>No</th>
                                    <th>Title</th>
                                    <th>Date</th>
                                    <th>Author</th>
                                </tr>
                                <!-- sample data-->
                                <tr>
                                    <td>1</td>
                                    <td>Sample Title</td>
                                    <td>0000.00.00</td>
                                    <td>관리자</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Sample Title</td>
                                    <td>0000.00.00</td>
                                    <td>관리자</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Sample Title</td>
                                    <td>0000.00.00</td>
                                    <td>관리자</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Sample Title</td>
                                    <td>0000.00.00</td>
                                    <td>관리자</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Sample Title</td>
                                    <td>0000.00.00</td>
                                    <td>관리자</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Sample Title</td>
                                    <td>0000.00.00</td>
                                    <td>관리자</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Sample Title</td>
                                    <td>0000.00.00</td>
                                    <td>관리자</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Sample Title</td>
                                    <td>0000.00.00</td>
                                    <td>관리자</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Sample Title</td>
                                    <td>0000.00.00</td>
                                    <td>관리자</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Sample Title</td>
                                    <td>0000.00.00</td>
                                    <td>관리자</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Sample Title</td>
                                    <td>0000.00.00</td>
                                    <td>관리자</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Sample Title</td>
                                    <td>0000.00.00</td>
                                    <td>관리자</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Sample Title</td>
                                    <td>0000.00.00</td>
                                    <td>관리자</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Sample Title</td>
                                    <td>0000.00.00</td>
                                    <td>관리자</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Sample Title</td>
                                    <td>0000.00.00</td>
                                    <td>관리자</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Sample Title</td>
                                    <td>0000.00.00</td>
                                    <td>관리자</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Sample Title</td>
                                    <td>0000.00.00</td>
                                    <td>관리자</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Sample Title</td>
                                    <td>0000.00.00</td>
                                    <td>관리자</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Sample Title</td>
                                    <td>0000.00.00</td>
                                    <td>관리자</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Sample Title</td>
                                    <td>0000.00.00</td>
                                    <td>관리자</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Sample Title</td>
                                    <td>0000.00.00</td>
                                    <td>관리자</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Sample Title</td>
                                    <td>0000.00.00</td>
                                    <td>관리자</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Sample Title</td>
                                    <td>0000.00.00</td>
                                    <td>관리자</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Sample Title</td>
                                    <td>0000.00.00</td>
                                    <td>관리자</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Sample Title</td>
                                    <td>0000.00.00</td>
                                    <td>관리자</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Sample Title</td>
                                    <td>0000.00.00</td>
                                    <td>관리자</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Sample Title</td>
                                    <td>0000.00.00</td>
                                    <td>관리자</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Sample Title</td>
                                    <td>0000.00.00</td>
                                    <td>관리자</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Sample Title</td>
                                    <td>0000.00.00</td>
                                    <td>관리자</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Sample Title</td>
                                    <td>0000.00.00</td>
                                    <td>관리자</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Sample Title</td>
                                    <td>0000.00.00</td>
                                    <td>관리자</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Sample Title</td>
                                    <td>0000.00.00</td>
                                    <td>관리자</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Sample Title</td>
                                    <td>0000.00.00</td>
                                    <td>관리자</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Sample Title</td>
                                    <td>0000.00.00</td>
                                    <td>관리자</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Sample Title</td>
                                    <td>0000.00.00</td>
                                    <td>관리자</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Sample Title</td>
                                    <td>0000.00.00</td>
                                    <td>관리자</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Sample Title</td>
                                    <td>0000.00.00</td>
                                    <td>관리자</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Sample Title</td>
                                    <td>0000.00.00</td>
                                    <td>관리자</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Sample Title</td>
                                    <td>0000.00.00</td>
                                    <td>관리자</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Sample Title</td>
                                    <td>0000.00.00</td>
                                    <td>관리자</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Sample Title</td>
                                    <td>0000.00.00</td>
                                    <td>관리자</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Sample Title</td>
                                    <td>0000.00.00</td>
                                    <td>관리자</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Sample Title</td>
                                    <td>0000.00.00</td>
                                    <td>관리자</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Sample Title</td>
                                    <td>0000.00.00</td>
                                    <td>관리자</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Sample Title</td>
                                    <td>0000.00.00</td>
                                    <td>관리자</td>
                                </tr>
                            </table>
                        </div>
                        <!-- paging -->
                        <div class="paging_content">
                            <span>◀ &nbsp;&nbsp;1&nbsp;&nbsp; 2&nbsp;&nbsp; 3&nbsp;&nbsp; ▶</span>
                        </div>
                    </article>
                </section>
            </div>
        </main>
        <!-- footer -->
        <footer id="footer">
            <span class="text_footer">footer</span>
        </footer>
    </div>

</body></html>