<!DOCTYPE html>

<!-- 메인 템플릿. -->

<html>
  <head>
    <meta charset="utf-8">
    <title>??? - 고객센터</title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="../css/common.css">
<link rel="stylesheet" href="../css/customer_center.css">

<body>
    <!--Navigation Bar-->
    <div id="navigation_Bar">
        Navigation_Bar
    </div>

    <!--Main Box-->
    <div id="main_Box">


        <!--Content Box-->
        <div id="content_Box">

            <div class="content_Header_Item_Box">
                <div class="content_Header_Item">
                    <a href="#">
                        <img src="../images/customer_center_images/search.png" alt="고객센터 공지사항">
                    </a>
                    <div>공지사항</div>
                </div>
            </div>

            <div class="content_Header_Item_Box">
                <!-- Customer Service-->
                <div class="content_Header_Text">
                    <table id="notice_Table" class="table table-bordered">
                        <tbody>
                            <tr>
                                <th width="10%">NO</th>
                                <th width="15%">구분</th>
                                <th width="65%">제목</th>
                                <th width="10%">등록일</th>
                            </tr>

                            <!-- test temp data-->
                            <tr>
                                <td>1</td>
                                <td>test</td>
                                <td>t</td>
                                <td>1</td>
                            </tr>

                            <tr>
                                <td>1</td>
                                <td>test</td>
                                <td>t</td>
                                <td>1</td>
                            </tr>

                            <tr>
                                <td>1</td>
                                <td>test</td>
                                <td>t</td>
                                <td>1</td>
                            </tr>

                            <tr>
                                <td>1</td>
                                <td>test</td>
                                <td>t</td>
                                <td>1</td>
                            </tr>

                            <tr>
                                <td>1</td>
                                <td>test</td>
                                <td>t</td>
                                <td>1</td>
                            </tr>

                            <tr>
                                <td>1</td>
                                <td>test</td>
                                <td>t</td>
                                <td>1</td>
                            </tr>

                            <tr>
                                <td>1</td>
                                <td>test</td>
                                <td>t</td>
                                <td>1</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="content_Header_Item_Box">
                <!-- Content -->
                <div class="content_Body_Item_Box">
                    <div class="content_Body_Item">
                        <a href="">
                            <span>EMPTY</span>
                        </a>
                    </div>
                </div>
            </div>


        </div>

    </div>
    <!--Bottom Box-->
    <div id="bottom">

    </div>

</body></html>
